/*Sommaire



1.Global
2.Logo
3.Login buttons
4.Google
5.Facebook
6.Github
7.Formulaire
	8.Login+Password
	9.Login Button
10.Bottom Text
*/


/*Global*/

.body {
	background-color: #EFF0F1;

	padding-bottom: 0;
	margin-bottom: 0;


}

.content {
	min-height: calc(100vh - 67px) !important;
}

.center {
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 20px;
}

/*Logo*/
.center__logo {
	display: flex;
	margin-left: 40%;
	margin-bottom: 20px;
}

.center__logo span {
	width: 50px;
	height: 50px;
	background-image: url(../img/favicon.ico);
	background-repeat: no-repeat;
}

/*Login Buttons*/

.center__button-google,
.center__button-facebook,
.center__button-github {
	display: block;
	width: 100%;
	height: 40px;
	margin: 5px;
	border-radius: 6px;
	border: solid 1px ;
}

/*Google*/
.center__button-google {
	border-color: #d6d9dc;
	background-color: #fff;
	text-align: center;
}

.center__button-google:hover {
	background-color: #FAFAFB;
	cursor: pointer;
}

.center__button-google img {
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-bottom: -5px;
}

/*Facebook*/
.center__button-facebook {
	background-color: #385499;
	border-color: #385499;
	color: #fff;
}
.center__button-facebook i {
	color: #fff;
	font-size: 18px;
}

.center__button-facebook:hover {
	background-color: #314A86;
	cursor: pointer;
}

/*Github*/
.center__button-github {
	background-color: #2f3337;
	border-color: #2f3337;
	color: #fff;
}
.center__button-github i {
	color: #fff;
	font-size: 18px;
}

.center__button-github:hover {
	background-color: #242729;
	cursor: pointer;
}

/*Formulaire*/
.center__form {
	margin-left: 5px;
	margin-top: 40px;
	background-color: #FFFFFF;
	border-radius: 6px;
	border: solid 1px #d6d9dc;
	padding: 12px;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*Login + Password*/
.center__login,
.center__password {
	margin-left: 1em;
	margin-right: 1em;
}

.center__login label,
.center__password label {
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 6px;
	display: block;
}

.center__email-input,
.center__password-input {
	display: block;
	width: 90%;
	height: 30px;
	border: 1px solid #bbc0c4;
	border-radius: 4px;
	outline: none;
	padding: 3px;
	padding-left: 6px;
}

.center__email-input:focus,
.center__password-input:focus {
	border-color: #6fbcf7;
	box-shadow: 0 0 5px 0 #6fbcf7;
}

/*Login Button*/
.center__login-button {
	display: block;
	width: 90%;
	height: 40px;
	border: 1px solid #0095ff;
	border-radius: 4px;
	outline: none;
	margin-top: 2em;
	margin-left: 1em;
	background-color: #0095ff;
	color: #fff;
}

.center__login-button:hover {
	background-color: #0077CC;
	cursor: pointer;
}

/*Bottom Text*/
.center__bottom {
	text-align: center;
	display: block;
	color: #000;
	font-size: 12px;
	margin-top: 3em;
}
.center__bottom a {
	color: #0077cc;
	text-decoration: none;
}

.center__bottom a:hover {
	cursor: pointer;
	color: #0095FF;
}