/*Sommaire





1.
2.
3.


*/

/*Global*/
.content {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
}

.body {
	padding-bottom: 0;
	margin-bottom: 0;
	min-height: calc(100vh - 67px);
}

.footer {
	position: relative;
}

/*Top*/
.top {
	background-color: #FFF;
	width: 100%;
	padding: 12px;
}

.top__title {
	padding: 15px;
	display: flex;
}

.top__title h1 {
	font-weight: 10;
	font-size: 30px;
}

.top__title button {
	border: 1px solid #0077CC;
	border-radius: 3px;
	margin-left: auto;
	background-color: #0095ff;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.top__title button:hover {
	background-color: #0077CC;
	cursor: pointer;
}

.top__filter {
	display: flex;
}


.top__numbers {
	padding-left: 12px;
}

.top__button-new,
.top__button-karma {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #9fa6ad;
	background-color: #ffffff;
}

.top__button-new:hover,
.top__button-karma:hover {
	background-color: #FAFAFB;
	cursor: pointer;
}

.top__button-new:active,
.top__button-karma:active {
	box-shadow: 0 0 5px 2px;
}

.top__button-new {
	margin-left: auto;
	border-radius: 6px 0 0 6px;
}

.top__button-karma {
	border-radius: 0 6px 6px 0;
}

/*Question*/
.question {
	background-color: #fff;
	padding: 12px;
	width: 100%;
	border-top: 1px solid #d6d9dc;
}

.question__top {
	display: flex;
}



.question__reponses,
.question__karma {
	border: 1px solid #f6f6f7;
	text-align: center;
	width: 5em;
	padding: 6px;
	color: #6a737c;
}

.question__right {
	padding: 12px;
	width: 100%;
	background-color: #fff;
}

.question__titre {
	font-size: 14px;
	color: #0077cc;
}

.question__titre:hover {
	color: #46B2FF;
	cursor: pointer;
}

/*Bottom question*/
.question__bottom {
	background-color: red;
}

.bottom__align {
	width: 70%;
}